.main-menu
  %ul
    %li
      = link_to "Khuyến mãi hot", voucher_path
    %li
      %a{:href => "#"} Địa điểm
    %li
      %a{:href => "#"} Tin tức
    %li
      = link_to "Ứng dụng", app_intro_path
    %li
      %a{:href => "#"} Aclub page
    %li
      = link_to "Chúng tôi", service_intro_path
    %li
      %a{:href => "#"} Liên hệ