development:
  secret_key_base: secret_key_base
  aws_access_key_id: aws_access_key_id
  aws_secret_access_key: aws_secret_access_key
  viettel_bulk_sms_password: viettel_bulk_sms_password
  apns_certificate: APNS Certificate
  apns_passphrase: APNS Passphrase
  redis_url:
  redis_password: Redis Password
  mailgun_password: Mailgun Password
  facebook_app_id: abc
  facebook_app_secret: xyz
  google_api_key: Google Place API Key
  google_api_id: Google Place app id here
test:
  secret_key_base: secret_key_base
  aws_access_key_id: aws_access_key_id
  aws_secret_access_key: aws_secret_access_key
  viettel_bulk_sms_password: viettel_bulk_sms_password

production:
