!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width initial-scale=1.0"}
    %title Aclub.vn
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'menu_tab', media: 'all', 'data-turbolinks-track' => true
    :javascript
        rootUrl = '#{request.host_with_port}'
  %body.ltr
    = yield
    %script{:src => "https://code.jquery.com/jquery-1.11.3.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    = javascript_include_tag 'menu_tab', 'data-turbolinks-track' => true